<ion-view view-title="<center>Lịch Sử Thanh Toán</center>" hide-back-button="false"  hide-nav-bar="false" hide-tabs="true" cache-view="false" ng-controller="AccountCtrl">
  <ion-content>
       <script>
        // Include app dependency on ngMaterial
        angular.module( 'starter', [ 'ngMdIcons' ] )         
       </script>
       <!--<center class="home-header bg">
          <center style="height:150px; margin-top:-10px;">
         </center>
        </center>-->

        <ion-list>
            <ion-item>
                <ion-avatar item-left style="float: left; margin-right: 15px; height: 50px;">
                    <img src="img/evn.png" height="60px">
                </ion-avatar>
                <h3 style="color:blue">THANH TOÁN TIỀN ĐIỆN THÁNG 8</h3>
                <h3>Số tiền : 575,000 VNĐ</h3>
                <p>thời gian: 17/8/2016</p>
            </ion-item>

            <ion-item>
                <ion-avatar item-left style="float: left; margin-right: 15px; height: 50px;">
                    <img src="img/evn.png" height="60px">
                </ion-avatar>
                <h3 style="color:blue">THANH TOÁN TIỀN ĐIỆN THÁNG 9</h3>
                <h3>Số tiền : 575,000 VNĐ</h3>
                <p>thời gian: 17/9/2016</p>
            </ion-item>

            <ion-item>
                <ion-avatar item-left style="float: left; margin-right: 15px; height: 50px;">
                    <img src="img/evn.png" height="60px">
                </ion-avatar>
                <h3 style="color:blue">THANH TOÁN TIỀN ĐIỆN THÁNG 10</h3>
                <h3>Số tiền : 575,000 VNĐ</h3>
                <p>thời gian: 17/10/2016</p>
            </ion-item>

            <ion-item>
                <ion-avatar item-left style="float: left; margin-right: 15px; height: 50px;">
                    <img src="img/evn.png" height="60px">
                </ion-avatar>
                <h3 style="color:blue">THANH TOÁN TIỀN ĐIỆN THÁNG 11</h3>
                <h3>Số tiền : 575,000 VNĐ</h3>
                <p>thời gian: 17/11/2016</p>
            </ion-item>
        </ion-list>
        <!--<div style="padding-left:20px;text-align:center;padding-bottom:50px">
          <div style="text-align:left; ">
              <table>
                  <tr>
                      <td><h5 style="color:#000; padding-top:5px; width:120px">Mã khách hàng: </h5></td>
                      <td>{{user_info.customer_code}}</td>
                  </tr>
                  <tr>
                      <td><h5 style="color:#000; padding-top:5px; width:120px">Tên khách hàng: </h5></td>
                      <td>{{user_info.full_name}}</td>
                  </tr>
                  <tr>
                      <td><h5 style="color:#000; padding-top:5px; width:120px">Địa chỉ: </h5></td>
                      <td>{{user_info.address}}</td>
                  </tr>
                  <tr>
                      <td><h5 style="color:#000; padding-top:5px; width:120px">Số hợp đồng: </h5></td>
                      <td>{{user_info.contract_id}}</td>
                  </tr>
                  <tr>
                      <td><h5 style="color:#000; padding-top:5px; width:120px">Công tơ: </h5></td>
                      <td>{{user_info.driver_id}}</td>
                  </tr>
                  <tr>
                      <td><h5 style="color:#000; padding-top:5px; width:120px">Điện thoại: </h5></td>
                      <td>{{user_info.mobile}}</td>
                  </tr>
                  <tr>
                      <td><h5 style="color:#000; padding-top:5px; width:120px">Email: </h5></td>
                      <td>{{user_info.email}}</td>
                  </tr>
				  <tr>
					<td><h5 style="color:#000; padding-top:5px; width:120px">Phiên bản: </h5></td>
					<td><label id="version">{{version_info}}</label></td>
				  </tr>
              </table>
            </div>
            <a ng-click="signOut()" class="btnout">ĐĂNG XUẤT</a>
        </div>-->
  </ion-content>
</ion-view>
