{
     "android": {
         "debug": {
             "keystore": "evnicare.keystore",
             "storePassword": "310310",
             "alias": "evnicare",
             "password" : "310310",
             "keystoreType": ""
         },
         "release": {
             "keystore": "evnicare.keystore",
             "storePassword": "310310",
             "alias": "evnicare",
             "password" : "310310",
             "keystoreType": ""
         }
     }
 }