<ion-view view-title="<center>Hướng dẫn<center>"  hide-back-button="true">
  <ion-content>
    <div class="button-bar row" style="margin-top:20px; text-align:center">
                      <div class="col">
                       <a ng-href="#/tab/listcontent/566e1f6e1a2b8c036a9f0af9" class="cicle"> <img src="img/mo.png" width="70px" height="70px"></a>
                       <br/><p style="color:#000;font-size:11px;font-weight: 500;">Sử dụng tin<br/>nhắn truy vấn MO</p>
                      </div>
                       <div class="col">
                         <a ng-href="#/tab/listcontent/566e20d71a2b8c036a9f0b0c" class="cicle"> <img src="img/taihoadondien.png" width="70px" height="70px"></a>
                       <br/>
                        <p style="color:#000;font-size:11px;font-weight: 500;">Tải hoá<br/>đơn điện tử</p>
                     </div>   
        </div>
        <div  class="button-bar row" style="text-align:center">
             <div class="col">
                         <a ng-href="#/tab/listcontent/566e20141a2b8c036a9f0afe" class="cicle"> <img src="img/tuvansudungdien.png" width="70px" height="70px"></a>
                       <br/>
                        <p style="color:#000;font-size:11px;font-weight: 500;">Tư vấn<br/>sử dụng điện</p>
                     </div>  
                     <div class="col">
                       <a ng-href="#/tab/listcontent/566e203f1a2b8c036a9f0b01" class="cicle"> <img src="img/tuvanantoandien.png" width="70px" height="70px"></a>
                       <br/><p style="color:#000;font-size:11px;font-weight: 500;">Tư vấn<br/>an toàn điện</p>
                      </div>
        </div>
        <div class="button-bar row" style="text-align:center">
                    <div class="col">
                         <a ng-href="#/tab/listcontent/566e206a1a2b8c036a9f0b04" class="cicle"> <img src="img/thutucdichvudien.png" width="70px" height="70px"></a>
                       <br/>
                        <p style="color:#000;font-size:11px;font-weight: 500;">Thủ tục<br/>dịch vụ điện</p>
                     </div> 
                      <div class="col">
                         <a ng-href="#/tab/listcontent/566e21891a2b8c036a9f0b0f" class="cicle"> <img src="img/antoandien.png" width="70px" height="70px"></a>
                       <br/>
                        <p style="color:#000;font-size:11px;font-weight: 500;">An toàn điện và<br/>PCCC trong nhân dân</p>
                     </div>        
        </div>
  </ion-content>
</ion-view>
